.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: calc(7px + 1vmin);
    justify-content: center;
    border: black 2px solid;
    max-height: 150px;
    height: 100%;
    color: lightseagreen;
}