body {
    background-image: url("https://img.freepik.com/fotos-premium/3d-happy-face-und-helle-gluehbirne-auf-ausgewogenen-gewichtsskalen-ausgleich-des-eq-und-iq-konzepts_641940-356.jpg");
    background-size: cover;
    color: white;

}
.title{
    color:black;
}
.label {
    color: black;
    font-weight: bold;
    font-size: large;

}

.Profile {
    background-color: rosybrown;
    opacity: 0.6;
    width: 85%;
    margin: 20px auto 20px auto;
    padding: 20px;
}

#title {
    text-align: center;
}

#description {
    text-align: center;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: auto 60% auto;


    grid-row-gap: 20px;
    padding: 20px;
}

.item0 {
    grid-area: 1/2/2/3;
}

.item1 {
    grid-area: 2/2/3/3;
}

.item2 {
    grid-area: 3/2/4/3;
}

.item3 {
    grid-area: 4/2/5/3;
}

.item4 {
    grid-area: 5/2/6/3;
}

.item5 {
    grid-area: 6/2/7/3;
}

.item6 {
    grid-area: 7/2/8/3;

}

.item7 {
    grid-area: 8/2/9/3;

}

.item8 {
    grid-area: 3/1/6/3;
    background-color: white;
    color: black;
    width: 120px;
    height: 30px;
}

.item9 {
    grid-area: 11/2/10/3;
    background-color: white;
    color: black;
    width: 160px;
}